html {
  max-width: 100vw;
}

html, body, #__next {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 16px;
}

@media (min-width: 37.5rem) {
  .hello-world,
  .container {
    padding: 3rem;
  }
}

.test {
  background-color: rgb(238, 238, 238);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.mdc-drawer__content {
  height: calc(100vh - 15rem);
  padding-bottom: 88px;
  padding-top: 0.5rem;
}

.mdc-drawer--dismissible.mdc-drawer--open + .app__content {
  max-width: calc(100% - 16rem);
}

.mdc-drawer--dismissible {
    position: fixed;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    overflow-y: auto;
    z-index: auto;
  }
